<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Manservant</h3>
    </div>

    <ul class="list-unstyled components">
        <form method="POST" action="/search" class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" name="page" placeholder="Search for man pages ...">
        </div>
        <button type="submit" class="btn btn-info navbar-btn">Go</button>
        </form>
    </ul>
</nav>

<div class="man-error">
    <h1>404</h1>
    <% if @section %>
      <p>No entry for <%= @name %> in section <%= @section %> of the manual.</p>
    <% else %>
      <p>No manual entry for <%= @name %>.
    <% end %>
</div>
