<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Manservant</h3>
    </div>

    <ul class="list-unstyled components">
        <form method="POST" action="/search" class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" name="page" placeholder="Search for man pages ...">
        </div>
        <button type="submit" class="btn btn-info navbar-btn">Go</button>
        </form>

        <p>Sections</p>

        <% @page.sections.each do |id, title| %>
            <li>
                <a href="#<%= id %>"><%= title %></a>
            </li>
        <% end %>
    </ul>
</nav>

<div id="content">
    <%= @page.to_html %>
</div>
